name: Our first python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  My-first-CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Lint with Ruff
        run: uv run ruff check .

      - name: Test with pytest
        run: uv run pytest tests
